* {
    margin: 0;
    padding: 0;
}
.linha 
     


.vermelho { 
    width: 100px;
    height: 100px;
    background-color: red;

}
.verde { 
    width: 100px;
    height: 100px;
    background-color: green;
}
.azul { 
    width: 100px;
    height: 100px;
    background-color: blue;
}